

<div class="container mt-5">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a (click)="onGetAllProducts()" [ngClass]="currentLink=='all'?'active':''" class="nav-link clickable" data-bs-toggle="tab" >All</a>
    </li>
    <li class="nav-item">
      <a (click)="onGetSelectedProducts()" [ngClass]="currentLink=='selected'?'active':''" class="nav-link clickable" data-bs-toggle="tab">Selected</a>
    </li>
    <li class="nav-item">
      <a (click)="onGetAvailableProducts()" [ngClass]="currentLink=='available'?'active':''" class="nav-link clickable" data-bs-toggle="tab" >Available</a>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-info ml-5" routerLink="/AddProduct">Add Product</button>
    </li>
    <li class="ml-auto">
      <a [ngClass]="currentLink=='search'?'active':''" class="nav-link clickable">
      <form class="form-inline " #f="ngForm" (ngSubmit)="onGetSearch(f.value)">
        <input ngModel name="keyword" class="form-control mr-1" type="text" placeholder="Search">
        <button  class="btn btn-outline-primary " type="submit" > <fa-icon [icon]="faSearch"></fa-icon></button>
      </form>
      </a>
    </li>
  </ul>


  <ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState" >

    <ng-container *ngSwitchCase="dataStateEnum.LOADING">
      <div class="container">
        <div class="progress mt-5">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="dataStateEnum.ERROR">
      <div class="alert-danger m-5">
        <p>{{result.errorMessage}}</p>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="dataStateEnum.LOADED">

      <div>
        <table class="table table-hover mt-5">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selected</th>
            <th scope="col">Available</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody *ngFor="let p of result.data ">
          <tr class="table-active">
            <th>{{p.id}}</th>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.selected}}</td>
            <td>{{p.available}}</td>
            <td>
              <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-info':'btn-danger'" class="btn btn-sm">
                <span *ngIf="p.selected">Selected</span>
                <span *ngIf="!p.selected">Select</span>
              </button>
            </td>
            <td>
              <button (click)="onDelete(p)" class="btn btn-sm btn-warning" >
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </td>
            <td>
              <button (click)="onUpdate(p)" class="btn btn-sm btn-warning" >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
            </td>

          </tr>

          </tbody>
        </table>
      </div>

    </ng-container>


  </ng-container>




</div>
